*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f5f9;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #00416a;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

form {
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 8px;
  border: 1px solid #c0c9d2;
  text-align: left;
}

th {
  background-color: #8ab8d1;
  color: #fff;
}

td {
  background-color: #edf3f7;
}

button {
  margin-top: 16px;
  padding: 16px 16px;
  background-color: #0077b6;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #023e8a;
}

h2 {
  margin-top: 40px;
  color: #00416a;
}
input[type=number],input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="date"]{
    background-color: #8ab8d1;
    padding: 5px;
    top: 50%;
    left: 50%;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}
